<template>
  <button id="button-wrapper" class="w-4/5 my-8">
    <div id="button-text" class="text-center">
      <p class="py-2">Kostenlos Registrieren</p>
    </div>
  </button>
</template>

<style scoped>
#button-wrapper {
  height: 40px;
  background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}
#button-text {
  /* UI Properties */
  font-size: 17px;
  letter-spacing: 0.84px;
  color: #e6fffa;
}
</style>