<template>
  <div>
    <h1 class="tab-item-title my-8">
      Drei einfache Schritte zu deinem neuen Mitarbeiter
    </h1>
    <div class="flex flex-col items-center">
      <!-- ITEM 1 START -->

      <div id="item1" class="w-4/5">
        <div class="flex -mb-20 justify-end">
          <Image1 />
        </div>

        <div class="flex flex-row justify-around items-end">
          <p class="numbers">1.</p>
          <p class="tab-item-text mb-16 ml-4">Erstellen dein Lebenslauf</p>
        </div>
      </div>
      <!-- ITEM 1 END -->

      <!-- ITEM 2 START -->
      <div id="item2" class="w-screen">
        <div class="w-4/5 mx-auto pl-12">
          <div class="flex flex-row justify-around items-start">
            <p class="numbers -mt-16">2.</p>
            <p class="tab-item-text mt-20 ml-4">Erstellen ein Jobinserat</p>
          </div>

          <div class="">
            <div class="flex justify-center -mt-5 mb-10">
              <Image2 />
            </div>
          </div>
        </div>
      </div>
      <!-- ITEM 2 END -->

      <!-- ITEM 3 START -->
      <div id="item3" class="w-screen pl-10">
        <div class="w-11/12 mx-auto pl-12">
          <div class="flex flex-row justify-around items-start">
            <p class="numbers -mt-16">3.</p>
            <p class="tab-item-text mt-20 ml-4">
              Wähle deinen neuen Mitarbeiter aus
            </p>
          </div>

          <div class="">
            <div class="flex justify-center -mt-5">
              <Image3 />
            </div>
          </div>
        </div>
      </div>
      <!-- ITEM 3 END -->
    </div>
  </div>
</template>

<script>
import Image1 from "~/assets/images/tab1_image1.svg?inline";
import Image2 from "~/assets/images/tab2_image2.svg?inline";
import Image3 from "~/assets/images/tab2_image3.svg?inline";

export default {
  components: {
    Image1,
    Image2,
    Image3,
  },
};
</script>

<style scoped>
.tab-item-title {
  height: 50px;
  /* UI Properties */
  text-align: center;
  font-size: 25px;
  letter-spacing: 0px;
  color: #4a5568;
  opacity: 1;
}
.numbers {
  width: 106px;
  /* UI Properties */
  text-align: center;
  font-size: 156px;
  font-family: "Lato";
  letter-spacing: 0px;
  color: #718096;
  opacity: 1;
}
.tab-item-text {
  height: 19px;
  /* UI Properties */
  font: normal normal normal 16px/19px Lato;
  font-size: 19px;
  letter-spacing: 0.47px;
  color: #718096;
  opacity: 1;
}

#item2 {
  background: transparent linear-gradient(134deg, #e6fffa 0%, #ebf4ff 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}
</style>