<template>
  <div class="">
    <ul
      class="
        list-none
        text-center
        overflow-auto
        whitespace-nowrap
        flex
        items-center
        w-4/5
        rounded-md
        mx-auto
        mb-6
      "
    >
      <li
        v-for="(tab, index) in tabList"
        :key="index"
        class="w-full px-4 py-1.5"
        :class="{
          ' shadow-xl active-tab': index + 1 === activeTab,
          'non-active-tab': index + 1 !== activeTab,
        }"
      >
        <label
          :for="`${_uid}${index}`"
          v-text="tab"
          class="cursor-pointer block pt-1"
        />
        <input
          :id="`${_uid}${index}`"
          type="radio"
          :name="`${_uid}-tab`"
          :value="index + 1"
          v-model="activeTab"
          class="hidden"
        />
      </li>
    </ul>
    <template v-for="(tab, index) in tabList">
      <div
        :key="index"
        v-if="index + 1 === activeTab"
        class="flex-grow bg-white rounded-lg shadow-xl p-4"
      >
        <slot :name="`tabPanel-${index + 1}`" />
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    tabList: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      activeTab: 1,
    };
  },
};
</script>

<style scoped>
.active-tab {
  height: 40px;
  background: #81e6d9 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal 600 14px/17px Lato;
  letter-spacing: 0.84px;
  color: #e6fffa;
  opacity: 1;
}
.non-active-tab {
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cbd5e0;
  opacity: 0;
  text-align: center;
  font: normal normal 600 14px/17px Lato;
  letter-spacing: 0.84px;
  color: #319795;
  opacity: 1;
}
</style>