<template>
  <div class="flex flex-col w-screen">
    <div id="top-strip"></div>
    <div class="header">
      <p
        type="button"
        id="login-text"
        class="flex flex-row justify-end mt-4 mr-3"
      >
        Login
      </p>
    </div>
    <div class="-mb-6">
      <h1 id="job-title" class="my-8">Deine Job website</h1>
      <div class="flex justify-center w-screen">
        <AgreementSVG />
      </div>
    </div>
    <div class="top-footer flex justify-center">
      <Button />
    </div>
    <!-- //TABS START -->
    <div class="bg-gradient-to-r min-h-screen mt-10">
      <TabsGroup class="mb-16" :tabList="tabList">
        <template v-slot:tabPanel-1><TabItem1 /></template>
        <template v-slot:tabPanel-2> <TabItem2 /> </template>
        <template v-slot:tabPanel-3> <TabItem3 /> </template>
      </TabsGroup>
    </div>
    <!-- //TABS END -->
  </div>
</template>

<script>
import AgreementSVG from "~/assets/images/undraw_agreement_aajr.svg?inline";
import Button from "../components/Button.vue";
import TabsGroup from "../components/TabsGroup.vue";
import TabItem1 from "../components/TabItem1.vue";
import TabItem2 from "../components/TabItem2.vue";
import TabItem3 from "../components/TabItem3.vue";

export default {
  components: {
    AgreementSVG,
    Button,
    TabsGroup,
    TabItem1,
    TabItem2,
    TabItem3,
  },
  data() {
    return {
      tabList: ["Arbeitnehmer", "Arbeitgeber", "Temporärbüro"],
    };
  },
};
</script>


<style scoped>
#top-strip {
  height: 5px;
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.header {
  top: 5px;
  left: 0px;
  height: 67px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
  opacity: 1;
}
#login-text {
  font: normal normal 600 14px/17px Lato;
  letter-spacing: 0.84px;
  color: #319795;
}

.top-footer {
  left: 0px;
  height: 24px;
  flex: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 3px #00000033;
  border-radius: 12px 12px 0px 0px;
  opacity: 2;
}
#job-title {
  height: 100px;
  text-align: center;
  font: normal normal medium 42px/50px Lato;
  font-size: 42px;
  letter-spacing: 1.26px;
  color: #2d3748;
  opacity: 1;
}
</style>
